* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
body{
	height: 100vh;
	background: $white;
}

.circle{
	position: absolute;
	background: $Merahmuda;
	width: 100%;height: 100%;
	clip-path: circle(50% at 70% 3%);
	z-index: -1;
}
	


//Kotor
.formContainer{
	display: flex;
	height: 90vh;
}
.formBox{	
	margin: auto;
	width:480px;height: 50vh;
	border: 2px solid;
	background: $boxForm;
	border-radius: 44px;
	filter: drop-shadow(7px 10px $shadow)
}
.judulForm{
	line-height: 50px;
	position: relative;
	top: 10%;
	text-align: center;
}
.formAction{
	margin: auto;
	width: 60%;
	position: relative;
	top: 20%;
}



.formAction :is(.formAction , .passUser , .email , .confirmPass ){
	padding: 10px 0  0;
}
input {
	text-align: center;
	width:100%;
	height: 50px;
	border: 1px solid $shadow  ;
	border-radius: 10px;
	font-size: 20px;
	filter: drop-shadow(7px 5px $shadow)
}


.buttonLogin{
	position: relative;
	margin: auto;
	width: 60%;
	top: 30%;
}

.Login{
	display: flex;
	align-items: center;
	background: $birumuda;
	filter: drop-shadow(5px 7px $shadow);
	height: 50px;
	border-radius: 10px;
}

.Login a {
	margin: auto;
	font-size: 20px;
	text-decoration: none;
	color: $white;
}

.copyRight {
	position: relative;
	text-align: center;
	font-size: 20px;
	top: 35%; 
}


////fORMsIGN IN 

.formBoxSign{	
	margin: auto;
	width:480px;height: 70vh;
	border: 2px solid;
	background: $boxForm;
	border-radius: 44px;
	filter: drop-shadow(7px 10px $shadow)
}



//////@at-root

ul , li {
	margin: 0; padding: 0;
}
.ringMenu{
	
	width: 70px;
	margin: 50vh auto;
	top: -300px;
	position: relative;
}
.ringMenu ul {
	list-style: none;
	position: relative;
	width: 70px;
}
.ringMenu ul  {
	text-decoration: none;
}
.ringMenu ul .main  {
	color: black;
	font-size: 28px;
}
.ringMenu ul li {
	transition: all 0.7s ease-in-out;
	border-radius: 50px;
	cursor: pointer;
}

.ringMenu ul li.main {
	width: 70px; height: 70px;line-height: 70px;
}
.ringMenu ul li:not(.main){
	transform: rotate(-90deg)scale(0);
	opacity: 0;
}
.ringMenu.active ul li:not(.main) {
	transform: rotate(0)scale(5);
	opacity: 1;
}

.ringMenu ul li.one {
	transform-origin: 150px 50px;
	position: absolute;
	color: $orange;
}
.ringMenu ul li.two {
	transform-origin: 100px -50%;
	position: absolute;
	color: $iconMerah;
}

.ringMenu ul li.three {
	transform-origin: 50% -50px;
	position: absolute;
	color: $iconHijau;
}
.ringMenu ul li.four {
	transform-origin: -50px -40px;
	position: absolute;
	color: $iconKuning;
}
.ringMenu ul li.five {
	transform-origin: -100px 50%;
	position: absolute;
	color: $iconUngu;
}
.material-icons.md-48{font-size: 18px;}