//import to submenu1
.subMenu {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around ;
}
.containerSub {
}
.boxList{
	text-align: center;
	background-color: red;
	min-height: 1vh;
	min-width: 1vw;
	font-size: calc(1vh + 3vw);
}